body {
  color: #1a64d6;
  font-family: "Roboto Slab", serif;
}

h1 {
  color: #1a64d6;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Roboto Slab", serif;
  text-align: left;
  font-size: 20px;
  line-height: 48px;
  font-weight: 200;
  color: #1a64d6;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  text-align: left;
  font-size: 18x;
  line-height: 20px;
  font-weight: 100;
  color: #1a64d6;
}

li {
  text-transform: capitalize;
}

.weather-app-wrapper {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  max-width: 600px;
  margin: 30px auto;
  border-radius: 10px;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.overview {
  margin-bottom: 25px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(20, 3, 252);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.btn:hover {
  background: #a4c6f8;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(26, 3, 112);
  cursor: pointer;
}

#temperature,
#units {
  font-family: "Roboto Slab", serif;
  color: #1a64d6;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #1a64d6;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

.weather-forecast-temperatures {
  font-size: 15px;
}

#date {
  color: #110266;
  font-size: 20px;
  line-height: 25px;
  font-weight: 100;
}

#description {
  color: #110266;
  font-size: 20px;
  line-height: 25px;
  font-weight: 100;
}

footer {
  text-align: center;
  padding: 15px;
  color: rgb(237, 242, 243);
}
